{% extends "templates/web.html" %}

{% set address = frappe.get_doc("Address", doc.address) if doc.get('address') else None %}

{% block page_content %}
    <div class="container" style="font-size: 18px;">
        <h1 class="title" style="font-size: 40px; text-align: center">{{ title }}</h1>
        <div class="about-organization">
            {% if doc.get('description') %}
            <h2 style=" font-size: 32px;">{{ _('Description') }}</h2>
            <div class="row">
                <div class="col-md-4">
                    <p>{{ doc.description }}</p>
                </div>
                <div class="col-md-4">
                    {% if doc.get('image') %}
                    <img data-src="holder.js/200x200" class="img-thumbnail"
                        alt="200x200" style="width: 200px; height: 200px;"
                        src="{{ doc.image }}" data-holder-rendered="true">
                    {% endif %}
                </div>
            </div>
            {% endif %}

            {% if address %}
            <h2 style=" font-size: 32px;">{{ _('Address') }}</h2>
            <div class="row">
                <div class="col-md-4">
                    {% if address.get('address_line1') %}
                    {% set address_line = address.address_line1 + (address.address_line2 if address.get('address_line2') else '') %}
                    <p class="list-group-item-text">
                        <strong class="address">
                            {{ _('Address') }}: </strong><i id="org_address">{{ address_line }}</i></p>
                    {% endif %}
                    {% if address.get('pincode') %}
                    <p class="list-group-item-text">
                        <strong class="address">
                            {{ _('Postal Code') }}: </strong><i id="org_postal_code">{{ address.pincode }}</i></p>
                    {% endif %}
                    {% if address.get('city') %}
                    <p class="list-group-item-text">
                        <strong class="address">
                            {{ _('City/Town') }}: </strong><i id="org_city">{{ address.city }}</i></p>
                    {% endif %}
                    {% if address.get('country') %}
                    <p class="list-group-item-text">
                        <strong class="address">
                            {{ _('Country') }}: </strong><i id="org_country">{{ address.country }}</i></p>
                    {% endif %}
                </div>
                <div class="col-md-4">
                </div>
            </div>
            {% endif %}

            {% if address %}
            <h2 style=" font-size: 32px;">{{ _('Contact') }}</h2>
            <div class="col-4">
                {% if address.get('email_id') %}
                <p><strong><i class="fa fa-pencil"></i>&nbsp;{{ _('Email Address') }}: </strong><a 
                    id="org_mail" href="#org_mail">{{ address.email_id }}</a></p>
                {% endif %}
                {% if address.get('phone') %}
                <p><strong><i class="fa fa-phone"></i>&nbsp;{{ _('Phone') }}: </strong><a 
                    id="org_phone" href="#org_phone">{{ address.phone }}</a></p>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
