include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_poc_homecoming *.css
recursive-include erpnext_poc_homecoming *.csv
recursive-include erpnext_poc_homecoming *.html
recursive-include erpnext_poc_homecoming *.ico
recursive-include erpnext_poc_homecoming *.js
recursive-include erpnext_poc_homecoming *.json
recursive-include erpnext_poc_homecoming *.md
recursive-include erpnext_poc_homecoming *.png
recursive-include erpnext_poc_homecoming *.py
recursive-include erpnext_poc_homecoming *.svg
recursive-include erpnext_poc_homecoming *.txt
recursive-exclude erpnext_poc_homecoming *.pyc