{% extends "templates/web.html" %}

{% block title %}{{ heading or _("Map") }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <style>
        #org_map {
            min-height: 500px;
        }
    </style>
{% endblock %}

{% block page_content %}
<h1>{{ _('Organization') }}</h1>
<div class="map-content">
    <div id="org_map"></div>
</div>
{% endblock %}
